<body>
  
<!-- INICIO DE LA BARRA DE ARRIBA -->
<div class="container">
  <div class="topBar">
    <img class="logo" src="assets/logocompleto.png"> 
    <div class="buttons">   
    <button class=" mobile-only">Nuevo Botón</button>
    <button (click)="scrollToStart()" class="button">Inicio</button>
    <button (click)="scrollToUs()" class="button">Conocenos</button>
    <button (click)="scrollToFQA()" class="button">Preguntas</button>

  </div>
  </div>

</div>
<!-- FIN DE LA BARRA DE ARRIBA -->

<!-- INICIO DE EL VIDEO -->
<section id="video">
<div class="video-container"> 
   <video autoplay muted loop class="video">
  <source src="assets/video.mp4" type="video/mp4">
  </video>
  <div class="intro-cont">
  <h2 class="Encabezado">No lo dudes más, vive la grata
    <span>Experiencia</span> de ser modelo
  </h2>
   <p>La modelo es elegante, sofisticada y femenina, una mujer empoderada y muy segura de su cuerpo y de su vida, en algunas ocasiones esto puede ser relativo ya que algunas personas entran a esta industria por necesidad y otras por conseguir mayor autoestima sobre su personalidad o su cuerpo.</p> 
  </div>
</div>
</section>
<!-- FIN DE EL VIDEO -->

<!-- INICIO DE CUADRILLA KATHE -->
<section id="cuad"> 
<section class="wraper">
  <div class="container-1">
    <div class="wrappers">
      <div class="image-container">
        <img src="assets/kathe.png" >
      </div>
      <div class="intro-contenedor">
         <h2 class="intral">
          ¿Quienes somos? 
         </h2>
         <p>
          Somos una empresa que tiene sus orígenes en apartado en febrero de 2020 con el fin de brindar calidad de vida a sus colaboradores y mejorar la experiencia a sus usuarios.

          Como aliados tenemos a Hmstudios y Jbstudios 
          
          En nuestra empresa contamos con las mejores condiciones y excelente equipos de trabajo con el fin de brindarle a la modelo las mejores oportunidades de sobresalir en la industria, también contamos con un excelente equipo de profesionales altamente calificados en las plataformas de trabajo, además tenemos Capacitacion constante para mantener a la vanguardia y garantizar el buen desarrollo de la modelo como profesional en la industria        </p>
       </div>
    </div>
  </div>
</section>
</section>
<!-- FIN DE CUADRILLA KATHE -->



<!-- INICIO DE FQA -->
<section id="FQA">
  <div class="FQA-wrapper">
    <div class="container-1">
      <h2> FQA </h2>
      <p class="preg">Preguntas Frecuentes que nos hacen</p>
      <div class="answers">
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Bloqueamos Colombia?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">Es opcional</p>
                  <p>Sí se puede bloquear cualquier país en específico que la modela quiera bloquear</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Estoy obligada a desnudarme?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">NO</p>
                  <p>No estás obligada a nada que no quieras hacer en la transmisión. Eres dueña de tu show</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Cómo hago para ganar mucho dinero?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">Depende</p>
                  <p>Es relativo y todo depende de la disciplina y constancia de la modelo para ganar</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Cómo es el método de pago en las plataformas?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">Token</p>
                  <p>El único método de pago dentro de las plataformas son los tokens o fichas que los usuarios compran para brindar a la modelo como forma de propina.</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Qué tan seguro es trabajar con plataformas?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">seguro</p>
                  <p>Si la modelo no exibe su nickname o página en la que trabaja, será muy seguro trabajar en la plataforma... Como un pez en un mar de modelos</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Tengo supervision o ayuda al momento de transmitir?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">SÍ</p>
                  <p>cada modelo cuenta con un monitor con experiencia que le brinda capacitación para que poco a poco ella vaya siendo mejor</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Qué me brindan como estudio?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">Comodidad</p>
                  <p>WowStudios brinda a la modelo todas las comodidades para transmitir, con acondicionamiento en cada habitación, iluminación, cámaras y equipos de alta calidad. También cuenta con capacitadores e integraciones de diferentes tipos. Contamos con cada área específica como publicidad, decoración, fotografía, parte humana o psicología y con ahorro sin intereses para cada modelo</p>
              </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <p class="title">¿Qué se necesita para ser modelo de webcam?</p>
                  <p>FQA</p>
              </div>
              <div class="flip-card-back">
                  <p class="title">A TÍ</p>
                  <p>Se necesita solo disciplina y animo, con el tiempo se irá dando las cosas con constancia</p>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- FIN DE FQA -->
<!-- INICIO DE travel-->

<section id="travel">
  <div class="travel-wraper">
    <div class="slider-container">
      <h2 class="headTravel"> Hacemos salidas recreativas</h2>

      <div class="slider-frame">
        <ul>
          <li><img src="assets/Slider1.jpg" ></li>
          <li><img src="assets/Slider2.jpg" ></li>
          <li><img src="assets/Slider5.jpeg" ></li>
          <li><img src="assets/Slider4.jpg" ></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Fin DE travel-->


<!-- INICIO DE LA BARRA DE ABAJO -->

<div class="container">
 <div class="downBar">
  <img class="logoDown" src="assets/logocompleto.png">
  <p class="letter">© All rights reserved. Wowstudios, 2023.</p>
</div>
</div>
<!-- FIN DE LA BARRA DE ABAJO -->

<!-- INICIO DE BOTONES DE REDES -->
  <div>
 

    <div class="social-links">

      <a href="https://wa.me/+573114139374?text=Hola,%20me%20interesó%20lo%20de%20ser%20modelo" target="_blank" class="whatsapp">
      <div id="whatsapp" class="social-btn flex-center">
        <svg viewBox="0 0 24 24" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
            <image href="assets/whatsapp.png" height="24" width="24" />
         
        </svg>  
         <span>Wowstudios</span>
    </div>
    </a>
    
  <a href="https://www.instagram.com/wowstudio356/?igshid=NzAzN2Q1NTE%3D" target="_blank" class="instagram">
  <div id="instagram" class="social-btn flex-center">
    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
        <image href="assets/instagram.png" height="24" width="24" />
     
    </svg>  
     <span>@WowStudio</span>
  </div>
  </a>
    <a href="https://www.tiktok.com/@wowstudiowebcam" target="_blank" class="tiktok">
    <div id="tiktok" class="social-btn flex-center">
      <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
          <image href="assets/tik-tok.png" height="24" width="24" />
       
      </svg>  
       <span>@WowStudio</span>
  </div>
  </a>


  <a href="https://www.facebook.com/profile.php?id=100090143747318" target="_blank"  class="facebook">
  <div id="facebook" class="social-btn flex-center">
    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
        <image href="assets/facebook.png" height="24" width="24" />
     
    </svg>  
     <span>Wowstudios</span>
</div>
  </a>

  </div>

  </div> 
  <!-- FIN DE BOTONES DE REDES -->
</body>

